{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SENDGRID_API_KEY": "",
    "CONTACT_FROM_EMAIL": "noreply@tiffanykitchenhtml.com",
    "CONTACT_TO_EMAIL": "carrier@tiffanykitchenhtml.com",
    "REVIEW_TO_EMAIL": "enquiry@tiffanykitchenhtml.com"
  }
}
