{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SENDGRID_API_KEY": "",
    "CONTACT_FROM_EMAIL": "noreply@tiffanykitchen.com",
    "CONTACT_TO_EMAIL": "info@tiffanykitchen.com",
    "REVIEW_TO_EMAIL": "info@tiffanykitchen.com"
  }
}
